.MainPage .landing {
    padding: 80px 0;
    text-align: center;
}
  
.MainPage .landing h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
  
.MainPage .landing p {
    color: #999;
}